<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Count Up PingPong!</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong Counter!</h1>
        <p>Enter a number and see it count up with a twist!</p>
        <form action='/ping_ponged'>
            <div class='form-group'>
              <label for='number'>Number:</label>
              <input id='number' name='number' class='form-control' type='int'>
            </div>
            <button type='submit' class='btn-success'>Submit!</button>
        </form>
    </div>
</body>
</html>
