<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Ping Pong Counter</title>
    </head>
    <body>
        <div class="container">
            <h4>Here's your count!</h4>
            <p>{{ result }}</p>
            <p><a href="/">Home</a>
        </div>

    </body>
</html>
